h2 {
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 50px 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
body {
    text-align: center;
    background-color: 	#00CED1;
}